@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1670px;
  padding-top: 40px;
  z-index: 201;
  justify-content: space-between;
  align-items: center;
}

/* ==============fix======== */
.links
{
  position: fixed;
  display: flex;
    top: 0;
    right: 0;
    width: 400px;
    height: 70px;
    background: rgba(11,10,13,0);
    background: -moz-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11, 10, 13, 0)), color-stop(17%, rgba(11, 10, 13, 0.5)), color-stop(20%, rgba(11, 10, 13, 0.52)), color-stop(100%, #0b0a0d));
    background: -webkit-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: -o-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: -ms-linear-gradient(left, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    background: linear-gradient(to right, rgba(11, 10, 13, 0) 0%, rgba(11, 10, 13, 0.5) 17%, rgba(11, 10, 13, 0.52) 20%, #0b0a0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0b0a0d", endColorstr="#0b0a0d", GradientType=1 );
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 10px;
}
.links a {
  width: 50px;
  height: 50px;
  background: #2a2528;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}
.links a:hover {
  background: #000;
}
.links a:before {
  content: " ";
  display: inline-block;
  position: relative;
}
.links a.home:before {
  width: 26px;
  height: 21px;
  background: url(../images/ic-home.png) no-repeat;
  top: -2px;
}
.links a.download:before {
  width: 20px;
  height: 20px;
  background: url(../images/ic-dl.png) no-repeat;
  top: 0px;
}
.links a.forum:before {
  width: 28px;
  height: 23px;
  background: url(../images/ic-fr.png) no-repeat;
  top: 0px;
}
.links a.register:before {
  width: 24px;
  height: 23px;
  background: url(../images/ic-r.png) no-repeat;
  top: 0px;
}
.links a.facebook:before
{
  width: 24px;
  height: 23px;
  background: url(../images/fb.png) no-repeat;
  top: 0px;
}

/* ==============fix======== */
header .logoMU {
  margin-left: auto;
  background: url(../images/Logo.png);
  width: 249px;
  height: 192px;
  background-size: cover;
  text-transform: uppercase;
  cursor: pointer;
}
.book_icon {
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
  position: relative;
  width: 180px;
  height: 210px;
  background: url(../images/Book_Icon.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-animation: mover 3s infinite  alternate;
  animation: mover 3s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
/* ========================danhsach========== */
.overlay {
  z-index: 200;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.esc{
  position: absolute;
  margin-top: 30px;
  background: url(../images/esc.png);
  background-size: cover;
  height: 29px;
  width: 50px;
  margin-left: 785px;
  margin-right: 128px;
  cursor: pointer;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}
.esc:hover
{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

.listBook {
  background: url(../images/bookUpdate.png);
  margin-bottom: 149px;
  background-size: cover;
  width: 960px;
  height: 540px;
  background-position: center;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
}

.listName {
  position: relative;
  z-index: 1000;
}
.list-item {
  position: absolute;
}

.pos-row-1 {
  top: 200px;
}
.pos-row-2 {
  top: 240px;
  
}
.pos-row-3 {
  top: 280px;
  
}
.pos-row-4 {
  top: 320px;
  
}
.pos-row-5 {
  top: 360px;
  
}

/* page 1 */
.pos-col-1 {
  left: 150px;

}
.pos-col-2 {
  left: 300px;
}

/* page 2 */
.pos-col-3 {
  left: 490px;

}
.pos-col-4 {
  left: 640px;
}


/* ========================= */
.showcase {
  position: absolute;
  right: 0;
  width: 1920px;
  height: 1080px;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  opacity: 0.8;
}
.text {
  position: relative;
  z-index: 10;
}

.text .server {
  background: url(../images/button_mu.jpg);
  background-size: cover;
  background-position: center;
  width: 170px;
  height: 40px;
  text-align: center;
  color: #fff;
  padding-top: 8px;
  cursor: pointer;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  margin-left: auto;
}
.text {
  display: flex;
  margin-left: 300px;
}

.text .server:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

 .cumsv {
  background: url(../images/Button_Sub_1.png);
  background-size: cover;
  background-position: center;
  width: 335px;
  height: 45px;
  text-align: center;
  color: #fff;
  padding-top: 2px;
  cursor: pointer;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  /* margin-right: auto; */
  margin-left: auto;
}

 .cumsv:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}
/* ==============attendance=========== */
.attendance{
  left: 0;
  width: 100%;
  padding: 60px 100px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  display: none;
}

.login
{
  width: 500px;
  max-width: 90%;
  background:url(../images/Khung-Tổng.png);
  background-size: cover;
  height: 365px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
.login form
{
  padding-top: 120px;
  padding-left: 30px;
}

.login
{
  padding-top: 120px;
  padding-left: 30px;
}

.login .form-group
{
  display: flex;
}

.login .form-group .tennv 
{
  width: 100px;
  height: 30px;
  padding-right:100px ;
  margin-right: 23px;
  background: url(../images/ten.png);
  background-size: cover;
  display: inline-block
}

.login .form-group .inputName
{
  width: 265px;
  height: 40px;
  background: url(../images/Khung_Name_SDT.jpg);
  background-size: cover;
  display: inline-block;
  border: none;
  font-size: 19px;
  font-weight: 700;
  padding: 0 15px;
  outline: none;
  color: #fff;
  display: block;
}

.login .form-group .phone
{
  width: 50px;
  height: 28px;
  background: url(../images/sdt.png);
  background-size: cover;
  display: inline-block;
  margin-right: 75px;
}


.form-check .dk{
  padding-right: 20px;
  position: absolute;
  background:url(../images/dk.png);
  background-size: cover;
  width: 54px;
  height: 33px;
}
.form-check .dw{
  margin-left: 70px;
  background:url(../images/dw.png);
  background-size: cover;
  position: absolute;
  width: 54px;
  height: 33px;
}
.form-check .elf{
  margin-left: 140px;
  background:url(../images/elf.png);
  background-size: cover;
  position: absolute;
    width: 54px;
  height: 33px;
}
.form-check .mg{
  margin-left: 210px;
  background:url(../images/mg.png);
  background-size: cover;
  position: absolute;
    width: 54px;
  height: 33px;
}
.form-check .dl
{
  margin-left: 280px;
  background:url(../images/dl.png);
  background-size: cover;
  position: absolute;
    width: 54px;
  height: 33px;
}

.btn
{
  position: absolute;
  margin: 70px 0 0 165px;
  width: 130px;
  height: 40px;
  background: url(../images/Button_Đăng_ky.jpg);
  background-size: cover;
  background-position: center;
}


.success 
{
  left: 0;
  width: 100%;
  padding: 60px 100px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.success .receive
{
  width: 500px;
  max-width: 90%;
  background:url(../images/Khung-Tổng.png);
  background-size: cover;
  height: 365px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.success .receive .congratulations
{
  top: 45%;
  position: absolute;
  width: 370px;
  height: 75px;
  margin-left: 67px;
  background: url(../images/chucmung.png);
  background-size: cover;
  display: inline-block
}

.success .receive .buttonOk
{
  top: 65%;
  right: 46%;
  position: absolute;
  margin: 70px 0 0 165px;
  width: 130px;
  height: 40px;
  background: url(../images/ok.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);


}
.success .receive .buttonOk:hover
{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
}

/* ========================== */

.loading
{
  width: 100%;
  padding: 60px 100px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.loading .timeLine
{
  background: url(../images/loading.png);
  background-size: cover;
  background-position: center;
  width: 38%;
  height: 141px;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
}

.loading .manRun
{
  background: url(../images/nguoi.png);
  background-size: cover;
  background-position: center;
  width: 3%;
  height: 50px;
  z-index: 20;
  margin-left: auto;
  margin-right: 975px;
  margin-top: -33px;
}


.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
